* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f6f7fb;
}

.chat-container {
  width: 400px;
  height: 400px;
  margin: 40px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow: hidden;
}
.chat-header {
  position: relative;
  background-color: #0d6efd; /* xanh */
  color: white;
  padding: 10px;
  border-radius: 16px 16px 0 0;
  text-align: center; /* căn chữ Chat vào giữa */
}

.chat-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.chat-header .dropdown {
  position: absolute;
  right: 10px; /* dính sát bên phải */
  top: 50%;
  transform: translateY(-50%); /* căn giữa theo chiều dọc */
}
.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #f6f7fb;
}

.message {
  margin: 8px 0;
  padding: 8px 0px;
  border-radius: 15px;
  max-width: 20%;
  clear: both;
}

.message.me {
  background: #e6f7ff;
  margin-left: auto;
  text-align: left;
}

.message.other {
  background: #fff;
  border: 1px solid #ddd;
  margin-right: auto;
  text-align: left;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 8px;
  background: #fff;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.chat-input button {
  margin-left: 8px;
  padding: 10px 16px;
  border: none;
  border-radius: 20px;
  background: #2563eb;
  color: #fff;
  cursor: pointer;
}

.chat-input button:hover {
  background: #1dd852;
}
